{%extends 'logged_in.html'%}
{%load static%}

<body>
    

{%block shit%}

<div class="container">
<div class="address-container">
 {{subcat.Category.name}} / {{subcat.name}}
</div>
{%for book in books%}
<div class="sub-container">
    <a href="{%url 'book_detail' subcat=subcat.name book_name=book.name %}">  
    <img src='{{book.img_link}}' style="position:relative;height:300px;width:200px">
    <span style="position:relative;top:15%;display:block;text-align:center;">{{book.name}}</span>
    </a>
</div>
{%endfor%}
</div>
{%endblock shit%}

</body>